<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>logout</title>
</head>
<body class="bg-gray-300">
<div class="text-lg text-red-600 bg-red-100" th:if="${param.error}">
    <p th:text="${param.error}"></p>
</div>
<div class="w-full  mt-20 mx-auto flex flex-col justify-center items-center">
    <h1 class="text-gray-600 text-2xl font-semibold my-10">Do you want to log out?</h1>
    <form class="flex justify-around py-10 border-2 gap-4 w-5/6 sm:w-5/6 md:w-4/6 lg:w-2/6 xl:2/6" th:action="@{/logout}" method="post">
        <button type="submit" class="text-white px-6 rounded-md bg-blue-700 hover:bg-blue-800">logout</button>
        <a  class="py-3 px-6 text-gray-white hover:bg-gray-100 border-2 border-gray-600 rounded-md " th:href="@{/}">cancel</a>
    </form>
</div>
</body>
</html>